<ion-header>
  <ion-toolbar color="success">
      <ion-buttons start>
          <button ion-button icon-only (click)="gotoHome()">
              <ion-icon name="ios-home-outline"></ion-icon>
          </button>
      </ion-buttons>
      <ion-title>
          Daftar Orderan
      </ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <ion-list *ngIf="konten">
      <ion-list *ngFor="let item of dataSet" no-padding>
          <ion-card>
              <div>
                  <ion-item color="successlight" no-lines>
                      <ion-icon name="ios-timer-outline" item-start></ion-icon>
                      <p>{{item.dt_belanja}}</p>
                  </ion-item>
                  <ion-item no-lines>
                      <ion-icon name="ios-barcode-outline" item-start></ion-icon>
                      <p>{{item.kode_belanja}}</p>
                      <button ion-button outline item-end color="success" (click)="detailOrder(item.kode_belanja)">
                          Detail
                      </button>
                  </ion-item>
              </div>
          </ion-card>
      </ion-list>
  </ion-list>
</ion-content>